* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  color: #ccc;
}

body {
  background-color: rgb(50, 101, 134);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 93%;
  max-width: 1550px;
  margin: 0 auto;
  margin-top: 0.5rem;
}

.main-header {
  text-transform: uppercase;
  letter-spacing: 0.18rem;
}

.masthead {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
}

.toggle-menu {
  cursor: pointer;
  width: 55px;
  z-index: 3;
}

.toggle-menu div {
  background-color: #ccc;
  border-radius: 25px;
  box-shadow: 0px 3px 13px rgba(0, 0, 0, 0.3);
  height: 7px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.13, 0.24, 0.35, 1.64);
}

.toggle-menu .one,
.toggle-menu .two {
  margin-bottom: 7px;
}

.toggle-menu.active .one {
  transform: translate(0, 14px) rotate(45deg);
}

.toggle-menu.active .two {
  background-color: transparent;
  box-shadow: none;
  transform: translateX(-55px);
}

.toggle-menu.active .three {
  transform: translate(0, -14px) rotate(-45deg);
}

.main-contents {
  flex: auto;
}
.main-contents h2 {
  letter-spacing: 1.5px;
  margin-bottom: 0.6rem;
  text-transform: uppercase;
}

.main-contents p {
  font-size: 1.1rem;
  letter-spacing: 1.7px;
  line-height: 1.35;
  color: #ccc;
  transition-delay: 150ms;
  transition-duration: 850ms;
}

.main-nav-list::before,
.main-nav-list::after {
  width: 0;
  height: 100vh;
  background-color: #b94071;
  content: "";
  position: absolute;
  transition: all ease-in-out 300ms;
  top: 0;
}

.main-nav-list::before {
  left: 0;
}

.main-nav-list::after {
  right: 0;
}

.main-nav-list.active::before {
  width: 100vw;
}

.main-nav-list ul {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  z-index: 2000;
}

.main-nav-list a {
  display: block;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-bottom: 15px;
  opacity: 0;
  text-align: center;
  text-transform: uppercase;
  transition-delay: 130ms;
}

.main-nav-list.active ul {
  top: 50%;
  transform: translate(-50%, -50%);
  transition-delay: 560ms;
  transition-duration: 240ms;
  transition-timing-function: cubic-bezier(0.1, 0.2, 0.3, 1.4);
}

.main-nav-list.active a {
  transition-delay: 600ms;
  opacity: 1;
}

.masthead.active h1 {
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
}

.main-nav-list .mobile-hide {
  /** Hide the link when viewing site on mobile devices. **/
  display: none;
}

.main-footer span {
  /*      color: #ccc; */
  transition-delay: 150ms;
  transition-duration: 1350ms;
}

/*********************************************/
.main-footer {
  font-size: 0.9em;
  letter-spacing: 0.18rem;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.wrapper.active p,
.wrapper.active h2 {
  opacity: 0;
  transition-delay: 150ms;
  transition-duration: 350ms;
}
