.landing {
  width: 100%;
  height: 100%;
}

.project {
  text-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 1),
    0.5px 0.5px 0.5px rgba(163, 177, 198, 1);
  color: black;
  display: none;
  opacity: 0;
  transition: all 1s;
  transition-duration: 300ms;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.project-pole {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.project-pole .blurBox {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.7);

  /*box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.1),
    3px 3px 3px rgba(163, 177, 198, 0.1);*/
}

.gallery {
  position: absolute;
  top: 100px;
  text-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 1),
    0.5px 0.5px 0.5px rgba(163, 177, 198, 1);
  color: #e0e5ec;
  display: none;
  opacity: 0;
  transition: all 1s;
  transition-duration: 300ms;
}

.music {
  position: absolute;
  top: 100px;
  text-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 1),
    0.5px 0.5px 0.5px rgba(163, 177, 198, 1);
  color: #e0e5ec;
  display: none;
  opacity: 0;
  transition: all 1s;
  transition-duration: 300ms;
}

.about {
  position: absolute;
  top: 100px;
  text-shadow: -0.5px -0.5px 0.5px rgba(255, 255, 255, 1),
    0.5px 0.5px 0.5px rgba(163, 177, 198, 1);
  color: #e0e5ec;
  display: none;
  opacity: 0;
  transition: all 1s;
  transition-duration: 300ms;
}
main {
  background-color: transparent;
}
.content {
  height: 100%;
}
.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: bold;
  width: 100%;
  position: absolute;

  /*background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(1px);*/
}

.landing h1 {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 1),
    1px 1px 1px rgba(163, 177, 198, 1);
  color: black;
  font-size: 3.5rem;
}
.landing .registerBtn {
  background-color: blue;
  text-align: center;
  margin: 0 auto;
}

.diplay-pole {
  width: 100%;
  height: 100%;
  background-color: brown;
  display: none;
  opacity: 0;
}
